<h2>Sign Up</h2>

  <%= link_to "Already have an account?", new_session_url%>
<br>

<form class="Sign Up" action=" <%=users_url%>" method="post">

  <label for="Username">Email Address</label>
  <input type="user[email]" name="" value="">
  <br>
  <label for="Password">Password</label>
  <input type="user[password]" name="" value="">
  <br>

  <input type="submit" name="" value="Submit">
</form>
